/* @tailwind base;
@tailwind components;
@tailwind utilities; */
body {
  margin-left: 5px;
}
main {
  border: solid rgb(140, 140, 229) 1px;
  margin-left: 5px;
  padding-left: 10px;
}
h2 {
}
a {
  text-decoration: none;
}

.title {
}
.food {
  margin: 20px;
  background: white;
  color: black;
  padding-left: 80px;
  border: rgb(150, 150, 188) 1px solid;
  border-radius: 5px;
}

.navbar {
  background: white;
  padding: 20px;
}
.navbar a {
  margin-right: 10px;
  text-decoration: none;
}
#children {
  border: solid red 2px;
  padding: 5px 10px;
}
